/* Styles that affect the whole design */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

/* asterisk calls for all elements to be affected */
* {
  /* changes how browsers calc widths */
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}
